# TensorFlow Libraries
tensorflow
tensorflow-datasets
tensorflow-addons

# Other Libraries
scikit-learn
scipy
scikit-image
numpy
matplotlib
pandas
opencv-python
pyqt5

# Linting/Tooling
flake8
mypy
isort
autopep8
